.card {
  width: 190px;
  height: 220px;
  position: relative;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2)); }

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 70.83%);
  border-radius: 16px;
  vertical-align: bottom; }

.card__info {
  position: absolute;
  top: 141px;
  left: 10px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 11px; }

.card__info_year, .card__info_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF; }

.card__info_year {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px; }

.card__info_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px; }
