header {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    height: 110px;
    display: flex;
    align-items: center;
}

.mainBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoBlock {
    display: flex;
    align-items: center;
}

.logoBlock > img {
    display: block;
}

.logoTitle,
.searchBlock .search_input,
.authBlock button,
.profile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}


.logoTitle {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.logoTitle > .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.logoTitle > .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #878787;
}

.searchBlock {
    width: 342px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 16px;
    background: #FFFFFF;
    border: 2px solid #878787;
    border-radius: 8px;
}

.search_img {
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../assets/images/icon/search.svg') no-repeat;
}

.searchBlock .search_input:focus {
    color: #AD02E0;
}

.searchBlock:focus-within {
    border: 2px solid #AD02E0;
}

.searchBlock .search_input:focus + .search_img {
    display: none;
}

.searchBlock .search_input {
    order: 2;
    border: none;
    width: 100%;
    outline: none;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #919191;
}

.authBlock {
    display: flex;
    align-items: center;
    gap: 15px;
}

.authBlock button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 38px;
    gap: 10px;
    border-radius: 8px;
    border: 2px solid #AD02E0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.btnLogin {
    color: #000000;
}

.btnLogin:hover,
.btnLogin:active {
    color: #FFFFFF;
}

.btnLogin:hover,
.btnReg:hover {
    background: #AD02E0;
    box-shadow: 0 0 20px #AD02E0;
}

.btnReg {
    background: #AD02E0;
    color: #FFFFFF;
}

.btnReg:hover {
    border: 3px solid #AD02E0;
}

.btnLogin:active,
.btnReg:active {
    background: #740994;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile .userName {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #000000;
}


.logedIn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 25px;
}

.logedIn .profileImg > img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.logedIn .dropDown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

