.auth__title .login, .auth__title .reg, .auth__form .username, .auth__form .password, .auth__form .checkbox, .auth__form > button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400; }

.auth {
  margin: 0 auto;
  width: 603px;
  background: #FFFFFF;
  border-radius: 30px; }
  .auth__exit {
    margin: 31px 0 0 523px;
    vertical-align: bottom; }
  .auth__title {
    padding-top: 12px;
    margin: 0 auto;
    width: 500px;
    display: flex;
    gap: 32px;
    border-bottom: 2px solid #878787; }
    .auth__title .login, .auth__title .reg {
      font-size: 24px;
      line-height: 35px;
      color: #000000;
      cursor: pointer; }
      .auth__title .login.active, .auth__title .reg.active {
        border-bottom: 5px solid #AD02E0; }
  .auth__form {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 45px 0 50px; }
    .auth__form .username, .auth__form .password {
      padding: 0 10px;
      gap: 10px;
      width: 100%;
      height: 52px;
      border: 1px solid #000000;
      border-radius: 8px;
      font-size: 24px;
      line-height: 35px;
      color: #878787; }
    .auth__form .checkbox {
      display: flex;
      flex-direction: row;
      gap: 10px; }
      .auth__form .checkbox input[type="checkbox"] {
        width: 35px;
        height: 35px;
        border: 2px solid #AD02E0;
        border-radius: 5px;
        accent-color: #2FE09B;
        color: white; }
      .auth__form .checkbox label {
        font-size: 24px;
        line-height: 35px;
        color: #878787; }
    .auth__form > button {
      height: 50px;
      background: #AD02E0;
      border-radius: 8px;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF; }
